{
  "v": "2",
  "ps": "{{ inventory_hostname }}",
  "add": "{{ xray_domain }}",
  "port": "{{ xray_port }}",
  "id": "{{ xray_uuid }}",
  "aid": "0",
  "scy": "none",
  "net": "tcp",
  "type": "none",
  "host": "",
  "path": "",
  "tls": "reality",
  "sni": "{{ xray_reality_server_names[0] }}",
  "fp": "{{ xray_reality_fingerprint }}",
  "pbk": "{{ xray_public_key }}",
  "sid": "{{ xray_short_id }}",
  "flow": "{{ xray_flow }}"
}
