vless://{{ xray_uuid }}@{{ xray_domain }}:{{ xray_port }}?type=tcp&security=reality&pbk={{ xray_public_key }}&fp={{ xray_reality_fingerprint }}&sni={{ xray_reality_server_names[0] }}&sid={{ xray_short_id }}&flow={{ xray_flow }}#{{ inventory_hostname }}
